# Ignore folders in src directory
# src/httpd/error-pages/
src/phpmyadmin/
docs/

# Tests & Coverage
/install-logs.log
test/
coverage/
.coveralls.yml

# Exclude symlinks in dist folder
dist/adminer
dist/apache
dist/error-pages
dist/php
dist/phpmyadmin
dist/ssl
dist/websites
dist/hosts/hosts
dist/hosts/hosts.original

# Ignore MySQL files
dist/mysql/
dist/mysql/logs/innodb/*
!dist/mysql/logs/innodb/.gitkeep

# Vendor directory
vendor/
node_modules/

# Build specific
.phpintel/
.vscode/

# macOS
.DS_Store
