[submodule "src/adminer"]
	path = src/adminer
	url = https://github.com/pematon/adminer-custom.git
[submodule "src/httpd/error-pages"]
	path = src/httpd/error-pages
	url = https://github.com/justinhartman/Webserver-Error-Pages.git
[submodule "src/git"]
	path = src/git
	url = https://github.com/justinhartman/.github
