# Ignore folders in src directory
# src/httpd/error-pages/
src/git-old/
src/phpmyadmin/
docs/

# Ignore specific files
test

# Exclude symlinks in dist folder
dist/adminer
dist/apache
dist/error-pages
dist/phpmyadmin
dist/websites

# Vendor directory
vendor/

# GitLab CI Config File
.gitlab-ci.yml

# Sublime
*.sublime-workspace

# Build specific
.phpintel/
.vscode/

# macOS
.DS_Store
