[mysqld]
## Only allow connections from localhost.
bind-address = 127.0.0.1
## Change the authentication method in version 8.0 to avoid errors
## when trying access the server.
default_authentication_plugin=mysql_native_password
## Better support than the default latin or utf8 collations.
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4

## The following settngs are optional but also add to the optimal
## configuration of MySQL. You can uncomment any/all if needed.

## Change default timezone below.
# default-time-zone = Africa/Johannesburg

## Enable logging for slow queries.
# slow-query-log

## Minimum time, in seconds, for a query to be considered long.
# long_query_time = 10

## Log queries to file.
# log-output = FILE

## Path to slow query log.
# slow_query_log_file = "/path/to/dist/mysql/logs/slow-queries.log"

## Path to error log.
# log-error = "/path/to/dist/mysql/logs/errors.log"

## Path where InnoDB log files should be stored.
# innodb_log_group_home_dir = "/path/to/dist/mysql/logs/innodb"

## Maximum file size for an InnoDB log file.
# innodb_log_file_size = 100M
